* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  font-family: 'Merriweather Sans', sans-serif;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

a,
li {
  text-decoration: none;
  color: #9FAABC;
  list-style: none;
  flex: 0 0;
  margin: 0 5px;
}

/*Search Bar at top of page*/
.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid grey;
}

.menu-icon-left-arrow,
.person-plus,
.calendar-icon,
.select-more-options {
  min-width: 50px;
  max-width: 50px;
  text-align: center;
  flex: 0 0 10%;
  border-right: 1px solid grey;
  min-height: 50px;
  padding-top: 15px;
}

.person-plus {
  background-color: #1DA1F2;
}

#search-field {
  flex: 1 0 60%;
  height: 50px;
  border: none;
  padding: 0 5px;
  border-bottom: 1px solid grey;
}

/*main navigation styles*/
#main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  min-width: 170px;
  max-width: 200px;
  background: #354052;
  color: #FFF;
  font-size: .75em;
}

#main-nav a {
  text-decoration: none;
  color: #9FAABC;
}

#main-nav a,
#main-nav li {
  text-decoration: none;
  color: #9FAABC;
  list-style: none;
  flex: 0 0;
  margin: 0 5px;
  padding: 5px;
}

.login {
  margin: 20px 0;
  color: #B0B1B5;
  border-bottom: 3px solid #222833;
  width: 100%;
  text-align: center;
}

.login h4 {
  display: inline-block;;
}

.framed {
  border-radius: 50%;
  background-color: #B0B1B5;
  text-align: center;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.framed img {
 margin-top: 5px;  
}

.navigation {
  border-bottom: 3px solid #222833;
  width: 100%;
}

ul.navigation {
  padding: 10px 20px;
}

/*header styles*/
.job-item {
  /*background: lightblue;*/
}

.job-item h2 {
  margin: 20px 5px 5px 10px;
}

.job-item h3 {
  display: inline-block;
  width: 90%;
  font-size: .75em;
}

.highlight-color {
  color: #44B6C1;
}

.action-btns {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  float: right;
}

.action-btns a {
  color: #B0B1B5;
}

.action-btns button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: solid 1px grey;
  background: none;
  margin: 0 auto;
}

button.open {
  width: 90px;
  height: 30px;
  border-radius: 30px;
  font-size: .8em;
}

.job-menu {
  display: none;
}

#job-board {
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  font-size: .6em;
  padding: 30px 2px 0 0;
  margin: 0;
}

#job-board li {
  flex: 0 0 80px;
  border-bottom: 2px solid #FFF;
}

#job-board a:hover {
  border-bottom: 2px solid #303B4D;
}

#job-board .selected {
  border-bottom: 2px solid #303B4D;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #EDF2F6;
}

.circles {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.position-info {
  text-align: center;
}

.circle-graph {
  width: 130px;
  height: 130px;
  border-style: solid;
  border-width: 8px;
  border-color: blue grey blue blue ;
  border-radius: 130px;
  padding: 25px;
  margin: 5px;
  text-align: center;
}

.circle-graph h2{
  margin: auto;
}

.circle-graph h4 {
  font-size: .75em;
}

.circle2 {
  border-color: grey grey blue blue ;
}

.circle3 {
  border-color: blue grey grey grey;
}

.labels {
  background-color: #FFF;
  border: 1px solid grey;
  border-radius: 50px;
  font-size: .75em;
  /*align-content: center;*/
  padding-top: 5px;
}

.application-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
}

.btn-size {
  width: 150px;
  align-self: center;
}

/*decorative dividing line*/
.horizon {
  /*display: flex;*/
  display: inline-block;
  width: 100%;
}

.divider-line {
  display: inline-block;
  width: 45%;
  border-bottom: 2px solid grey;
}


/*job description*/
.item-detail {
  width: 50%;
  border: 1px solid grey;
  margin: 10px 50px;
  box-sizing: border-box;
}

.item-values {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFF;
  padding: 5px;
}

.item-title {
  background-color: #31384B;
  color: #FFF;
  padding: 0 5px;
}

.item-title h4{
  display: inline-block;
  font-size: .75em;
}

.item-values h4 {
  flex: 0 0 30%;
  font-size: .75em;
}

.item-values h5 {
  flex: 0 0 70%;
  font-size: .75em;
}

#edit-btn {
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: .75em;
  color: grey;
}

#social-sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#social-sidebar button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  height: 50px;
  margin: 5px;
  padding: 5px;
  width: 90%;
}

#social-sidebar button img {
  flex: 0 0 20px;
}

#social-sidebar button h5 {
  flex: 0 0 70%;
}

#social-sidebar h3 {
  font-size: 1.05em;
}

button.facebook {
  background-color: #3B5998;
}

button.tweet {
  background-color: #1DA1F2;
}

button.linkedin {
  background-color: #0077B5;
}

.link-job {
  display: flex;
  align-items: center;
  width: 90%;
}

.link-job input {
  height: 50px;
  width: 90%;
}

.link-job .input-link {
  width: 100%;
}

button#copy {
 height: 50px;
 width: 50px;
 margin-left: 0;
}

@media (max-width: 850px) {

  .main-content {
    flex-direction: column;
  }

  #job-board {
    flex: 0 0 50px;
  }

  #job-board li {
      flex: 0 0 30px;
  }

  #job-board li.no-stack {
    min-width: 65px;
  }

  #social-sidebar,
  .item-detail {
    width: 100%;
    align-items: center;
    margin: 5px;
  }

  #social-sidebar article {
    padding: 10px;
  }

  .item-detail {
    width: 95%;
    margin: 0 auto;
  }

  #main-nav {
    display: none;
  }

  .content-wrapper {
    width: 100%;
  }
}


@media (max-width: 560px) {
  .infographics {
    flex-direction: column;
  }

  .circles {
    flex-direction: column;
    align-items: center;
  }

  #nav-job-board {
    display: none;
  }

  .job-menu {
    display: inline-block;
    border: 1px solid grey;
    padding: 10px;
    margin-left: 10px;
  }
}
